body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1{
	font-size: 3em; 
	font-weight: bold;
}


.active{
	background: green;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
	color: purple;
	background-color: yellow;
}

img{
    height: 200px;
    width: auto;
    border: 3px solid blue;
    padding: 15px;
    margin: 10px;
}

.psuedo:hover{
	background-color: greenyellow;
}

h2{
	font-weight: bold;
}

p, h1, h2 {
    padding: 15px;
}

header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
}


nav li{
	padding:10px;
	border:5px solid blue;
	display: inline-block;
}

a:visited{color:#0000FF}

#main_resume{
	background-image: url(images/pexels_ocean.jpg);
	font-family: sans-serif;
	
}